body {
    background-image: url(images/compet_esport.jpg);
    background-repeat: none;
    background-size: cover;
    z-index: 3;
  }

  #intro-section {
    background-color: rgba(240, 240, 240, 0.5);
    width: 50%;
    margin: 0 auto;
    border-radius: 35px;
  }
  
  #intro {
    z-index: 1;
    color: black;
    margin: 60px auto;
    width: 100%;
    font-size: 70px;
    text-align: center;
  }
  
  #main-section {
    position: fixed;
    top: 100px;
  }
  
  #date {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
  }